@use '../variables';

.InnerContainer {
  grid-area: main;
  overflow-y: auto;
  background: variables.$admin-bg;
  padding: 10px 30px 30px 30px;
}

.Admincontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar nav nav nav'
    'sidebar main main main';
}

@media only screen and (max-width: 978px) {
  .Admincontainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'nav'
      'main';
  }
}

.InsuficientPackage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  padding: 5px;
  background: #0a102f;
  color: white;
  border-radius: 7px;
}
