@use "../variables";

.navbar {
  background: variables.$admin-primary;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 2px solid lightgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.nav_icon {
  display: none;
}

.nav_icon > svg {
  font-size: 26px;
  color: #a5aaad;
}

.navbar__left {
  display: flex;
  flex-direction: row;
}

.navbar__left div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.navbar__left > p {
  margin-right: 30px;
  text-decoration: none;
  color: variables.$light-color;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.8;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__right > div > p {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.8;
}

.navbar__right > div > p:hover {
  color: variables.$error-red;
  transition: 0.5s;
}

@media only screen and (max-width: 978px) {
  .nav_icon {
    display: inline;
  }
  .navbar__left {
    display: none;
  }
}
