@use '../variables';

.sidebar {
  background: variables.$admin-primary;
  grid-area: sidebar;
  overflow-y: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
}

.sidebar::-webkit-scrollbar {
  width: 0rem;
  display: none;
}

.sidebar__nav {
  display: flex;
  align-items: center;
  color: variables.$light-color;
}

.sidebar__icon {
  font-size: 1.1em;
  margin-right: 10px;
  color: variables.$light-color;
}

.sidebar__title__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.sidebar__title {
  font-size: 1.6rem;
  width: fit-content;
  margin-left: 10px;
  color: variables.$light-color;
  padding-bottom: 15px;

  font-weight: 600;
  margin-bottom: 20px;
}

.sidebar__nav > div > h1 {
  color: variables.$light-color;
  display: inline;
}

.sidebar__nav > i {
  font-size: 35px;
  display: none;
  margin-right: 15px;
  padding: 15px;
}

.sidebar__link {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  svg {
    opacity: 0.9;
  }

  #link {
    text-decoration: none;
    font-size: 14px;
    color: variables.$light-color;

    opacity: 0.9;
    font-weight: 600;
  }
}

.active {
  border: 0px solid variables.$light-color;
  border-radius: 10px;
  background-color: variables.$light-color;
  transition: 0.5s;

  #link {
    text-decoration: none;
    font-size: 14px;
    color: variables.$admin-primary;
  }

  svg {
    color: variables.$admin-primary;
  }
}

.sidebar__link:hover {
  border: 0px solid variables.$light-color;
  border-radius: 10px;
  background-color: variables.$light-color;
  transition: 0.5s;

  #link {
    color: variables.$admin-primary;
    transition: 0.5s;
  }

  svg {
    color: variables.$admin-primary;
    transition: 0.5s;
  }
}

.sidebar__link > svg {
  margin-right: 10px;
  font-size: 16px;
}

.sidebar-responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
  height: 100%;
}

@media only screen and (max-width: 978px) {
  .sidebar {
    display: none;
    -webkit-animation: slideIn 0.5s ease-in-out;
    animation: slideIn 0.5s ease-in-out;
  }

  .sidebar__title {
    margin-right: 38px;
  }
  .sidebar__nav > i {
    display: inline;
  }

  .sidebar__logout {
    width: auto;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.close__icon {
  display: none;
}

@media only screen and (max-width: 978px) {
  .close__icon {
    display: inline;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 27px;
  }
}

.sidebar__section {
  h2 {
    text-decoration: none;
    font-size: 14px;
    color: variables.$light-color;

    opacity: 0.9;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-bottom: 5px;
    border-bottom: #959698 0.1px solid;
    width: fit-content;
    min-width: 80%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    svg {
      cursor: pointer;
      font-size: 16px;
    }
  }
}

.admin__link {
  margin-left: 20px;
  width: 75%;
}
